*{
  box-sizing: border-box;
}

.sidebar{
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
}

.sidebar a{
  display: flex;
  flex-direction: column;
  color: green;
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.sidebar a:hover{
  background-color: red;
}

.active{
  background-color: yellow;

}