.container{
  text-align: center;
  margin-top: 10px;
}

.btn{
  padding: 15px;
  background-color: red;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  margin: 5px;

}

.btn:hover{
  background-color: yellow;
}

.active{
  background-color: yellowgreen;
}